 *{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 

body{
	font-family:'Raleway';
	font-size: 14px;
}

header nav{
	
	width: 1000px; 
	margin: 1000px auto; 
	font-size: 16px;
	background:#0817df;
	display: flex;
	justify-content: space-between;
}

.enlaces li a{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	border:1px solid;
	padding:10px 12px;
}

.enlaces a{
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	padding: 0;
	transition: 0.7 ease-out;
	color: #fff;
	text-decoration: none;
	list-style: none;

}

.enlaces li a:hover {
	border-top: 1px solid rgb(53, 7, 255);
	border-bottom: 1px solid rgb(7, 52, 252);
	
}
/* Submenu
.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: Open sans;
	text-decoration: none;
}  */

h1{
color:#005883;

}
h2{
color:#F47920;
font-family: Franklin Gothic Book;
}


h3{
color:#005883;
font-family: angsana New;

}

 div{
	background-color:#F47920;
} 